{% extends 'base.html.twig' %}

	{% block title %}Home | COMblo{% endblock %}

	{% block body %}
		{# hero #}
		<div class="hero bg-accent -mt-2">
			<div class="flex-col hero-content">
				<div class="card lg:card-side md:flex-row-reverse bordered">
					<figure class="w-screen md:w-auto px-8 py-6 md:px-9 md:py-9">
						<img class="max-h-96 lg:max-h-64 rounded-xl" src="https://cdn.pixabay.com/photo/2021/09/29/06/19/flowers-6666411_960_720.jpg">
					</figure>
					<div class="card-body">
						<h2 class="card-title">New Item!</h2>
						<p>Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. Sit sit necessitatibus veritatis sed molestiae voluptates incidunt iure sapiente.</p>
						<div class="card-actions">
							<button class="btn btn-warning">Purchase</button>
							<button class="btn btn-primary btn-outline">More info</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		{# endhero #}
		{# feed #}
		<div class="bg-accent flex flex-col md:grid md:grid-cols-2 lg:grid-cols-3 p-8">
			{% for artikel in pagination %}
				<div class="card bg-accent-content text-center shadow-2xl m-5">
					<figure class="px-10 pt-10">
						<img src="https://cdn.pixabay.com/photo/2013/08/20/15/47/poppies-174276_960_720.jpg" class="rounded-xl">
					</figure>
					<div class="card-body">
						<h2 class="card-title">{{ artikel.title }}</h2>
						<p>{{ artikel.content|u.truncate(50, '...') }}</p>
						<div class="justify-center card-actions">
							<button class="btn btn-outline btn-warning">More info</button>
						</div>
					</div>
				</div>
			{% else %}
				<p>Tidak ada
					<strong>Artikel</strong>
				</p>
			{% endfor %}
		</div>
		{# endfeed #}
		<div class="flex bg-accent text-xl text-accent-content flex justify-center">
			{{ knp_pagination_render(pagination) }}
		</div>
	{% endblock %}
