{% extends 'base.html.twig' %}

	{% block title %}New Artikel{% endblock %}

	{% block body %}
		<div class="bg-base p-7">
			<div class="flex justify-center items-center flex-col">
				<h1 class="text-xl font-bold">Form Artikel Baru</h1>
				{{ include('artikel/_form.html.twig') }}
				<div class="">
					<a class="btn btn-sm btn-info btn-outline" href="{{ path('artikel_index') }}">back to list</a>
				</div>
			</div>
		</div>
	{% endblock %}
